*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 2rem;
    background: linear-gradient(to right, rgb(255, 213, 213), #f3c1c1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

h1 {
    letter-spacing: 5px;
    color: rgb(65, 61, 61);
    background-color: transparent;
    display: flex;
    margin-bottom: 3rem;
}

.pokecontainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    gap: 2rem;
}

.pokemon{
    background-color: transparent;
    border-radius: .5rem;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: .5rem;
    padding: 1.5rem;
    text-align: center;

    .imageContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 50%;
        width: 7.5rem;
        height: 7.5rem;

        img {
            max-width: 90%;
        }
    }
}

.info {
    margin-top: 1.5rem;

    .number{
        background-color: rgba(0, 0, 0, 0.15);
        padding: 3px 1rem;
        border-radius: 1rem;
    }

    .name{
        margin: 1rem 0 7px;
        letter-spacing: 1.5px;
    }
}

